name: Update clash rule_allAds.yaml

on:
  schedule:
    - cron:  '5 1,13 * * *'
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
    - name: Show python version
      run: python3 --version
    - name: Run a script
      run: python3 update_rule-allAds.py
    - name: Commit changes
      run: |
        git config --local user.email "github-actions[bot]@users.noreply.github.com"
        git config --local user.name "github-actions[bot]"
        git commit -a -m "Automatic update rule_allAds.yaml"
    - name: Push changes
      run: |
        git push -u origin main